<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <!--title th:text="${ads.title}">Post Details</title-->
</head>

<body>
<header th:replace="layout :: site-header" />

<main id="ads">
    <article th:each="ad : ${allAds}">
        <h2 class="title" th:text="${ad.title}">Ad Title</h2>
        <p class="content" th:utext="${ad.decription}">Post content</p>
    </article>
</main>

<footer th:replace="layout :: site-footer" />
</body>

</html>

