<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <!--title th:text="${post.title}">View Post</title-->
</head>

<body class="gray-bg">
<header th:replace="layout :: site-header"/>

<div class="middle-box text-left loginscreen animated fadeInDown" th:marginwidth="100px">
    <h2>Please login</h2>
    <form method="post" th:object="${registerForm}">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username"
               th:value="*{username}"/>
        <span class="formError"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">Invalid username</span>

        <br/>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password"
               th:value="*{password}"/>
        <span class="formError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">Invalid password</span>

        <br/>

        <label for="name">ФИО:</label>
        <input type="text" id="name" name="name"
               th:value="*{name}"/>
        <span class="formError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Invalid name</span>

        <br/>
        <input type="submit" value="Регистрация"/>
    </form>
</div>

<footer th:replace="layout :: site-footer"/>

</body>

</html>