<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Test</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<aside>
    <h2>Recent Posts</h2>
    <!--a href="#" th:each="p : ${latest5posts}" th:text="${p.title}"
       th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a-->
</aside>

<main id="ads">
    <article th:each="ad : ${allAds}">
        <h2 class="title" th:text="${ad.title}">Ad Title</h2>
        <!--div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            <span th:if="${ad.author}" th:remove="tag">
                    <i>by</i> <span th:text="${p.author.fullName != null ?
                        p.author.fullName : p.author.username}">Svetlin Nakov</span>
                </span>
        </div-->
        <p class="content" th:utext="${ad.decription}">Post content</p>
    </article>
</main>

<footer th:replace="layout :: site-footer"/>
</body>
</html>

