<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="site-head">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/css/styles.css"
          th:href="@{/css/styles.css}" />
    <link rel="icon" href="../public/img/favicon.ico"
          th:href="@{/img/favicon.ico}" />
    <script src="../public/js/jquery-3.1.0.min.js"
            th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>
    <meta th:include="this :: head" th:remove="tag"/>
</head>

<body>

<header th:fragment="site-header" th:remove="tag">
    <header>
        <a href="home.html" th:href="@{/}"><img
                src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}" /></a>
        <a href="home.html" th:href="@{/}">Домашняя страница</a>
        <a href="users/login.html" sec:authorize="!isAuthenticated()" th:href="@{/users/login}">Вход</a>
        <a href="users/register.html" sec:authorize="!isAuthenticated()"  th:href="@{/users/register}">Регистрация</a>
        <a href="posts/index.html" sec:authorize="isAuthenticated()" th:href="@{/posts/index}">Мои объявления</a>
        <a href="posts/create.html" sec:authorize="isAuthenticated()" th:href="@{/posts/create}">Создать объявление</a>
        <!--a href="users/index.html" th:href="@{/users}">Пользователи</a-->
        <div id="logged-in-info" sec:authorize="isAuthenticated()">
            <span>Привет, <b><span th:text="${#authentication.getPrincipal().getUsername()}"></span></b></span>
            <form method="post" th:action="@{/logout}">
                <input type="submit" value="Выход"/>
            </form>
        </div>
    </header>

    <ul id="messages" th:with="notifyMessages=${session[T(com.testapp.advert.services.impl.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
        <li th:each="msg : ${notifyMessages}"
            th:text="${msg.text}"
            th:class="${#strings.toLowerCase(msg.type)}">
        </li>
        <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(com.testapp.advert.services.impl.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
    </ul>
</header>


<h1>Добро пожаловать</h1>
<p>Spring MVC Test App</p>

<footer th:fragment="site-footer">
    Spring MVC Test , 2017
</footer>
</body>

</html>
